{% extends 'base.html' %}
{% block content %}

<h1>My Bids</h1>

{% for post in bids %}
<div class="row">
    <!-- Use for-loop for <div class="col-sm-4"> -->
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top" src="..." alt="Bid Item" />
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <a href="#" class="btn btn-primary"></a>
          <p class="card-text"></p>
          <p class="card-text">Retail: $8</p>
          <p class="card-text">Sold By: BiddingWars</p>
          <div class="card-action">
            <a href="{% url 'bid_update' post.id %}">Edit</a>
            <a href="{% url 'bid_delete' post.id %}">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}