{% extends 'base.html' %} 

{% block content %}
{% load qr_code %}

<h1>All Bids</h1>

{% for post in posts %}
<div class="row">
    <!-- Use for-loop for <div class="col-sm-4"> -->
    <div class="col-sm-4">
    <a class='btn-primary-outline' href="{% url 'post_detail' post.id %}">
      <div class="card">
        <img class="card-img-top" src="..." alt="Bid Item" />
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <a href="#" class="btn btn-primary"></a>
          <p class="card-text"></p>
          <p class="card-text">Retail: $8</p>
          <p class="card-text">Sold By: BiddingWars</p>
    </a>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            QR Code
          </button>
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Scan QR Code</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  
                  {% qr_from_data post.qr_code size="M" %}
                </div>      
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
<script defer>
  const myModal = document.getElementById('myModal')
  const myInput = document.getElementById('myInput')
  
  myModal.addEventListener('shown.bs.modal', () => {
    myInput.focus()
  })
</script>

{% endblock %}
