{% extends 'base.html' %} {% block content %} {% load qr_code %}

<h1>All Bids</h1>

{% for post in posts %}

<div class="card">
  <img class="card-img-top" src="..." alt="Bid Item" />
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <a href="#" class="btn btn-primary">Bid</a>
    <p class="card-text">{{ post.price }}</p>
    <p class="card-text">{{ post.description }}</p>
    {% if post.type == "I" %}
    <p class="card-text">Item</p>
    {% else %}
    <p class="card-text">Job</p>
    {% endif %}
  </div>
</div>

{% endfor %} {% endblock %}
