{% extends 'base.html' %} {% block content %}

<h1>Lets get bidding!!</h1>
<div class="row">
  <!-- Use for-loop for <div class="col-sm-4"> -->
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="..." alt="Bid Item" />
      <div class="card-body">
        <h5 class="card-title">Item Name</h5>
        <a href="#" class="btn btn-primary">Bid</a>
        <p class="card-text">Retail: $8</p>
        <p class="card-text">Sold By: BiddingWars</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
