body {
  background-color: rgb(249, 246, 246);
  color: white;
}

.col-sm-4 {
  background-color: rgb(64, 60, 60);
}
.btn-primary {
  background-color: rgb(27, 131, 27);
}
.card {
  width: 400px;
  background-color: rgb(174, 168, 168);
  border-radius: 0.5rem;
  margin: 0.5rem 0 2rem;
}
.titl {
  text-align: center;
}

main {
  background-image: url("https://wallpapercave.com/wp/wp4678534.jpg");
  background-size: cover;
  height: 100vh;
  padding: 2vh;
}

h1, h3 {
  padding: 20px;
}

input[type="submit"] {
  color: white;
}